/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.lwhh-figure {
  margin: 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;

  .entry .entry-content > &.aligncenter {
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.lwhh-figure__image {
  display: block;
}